* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h2 {
  text-align: center;
  font-size: 50px;
  color: black;
  margin-bottom: 24px;
}


.image-results {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  padding: 40px 20px;
}


.image-card {
  width: 473px;
  max-width: 100%;
  height: 440px;
  overflow: hidden;
  border: 3px solid white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  background-color: white;
  transition: transform 0.2s ease-in-out;
}

.image-card:hover {
  transform: scale(1.02);
}

.image-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}




@media (max-width: 1024px) {
  h2 {
    font-size: 40px;
  }

  .image-card {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1; 
  }
}


@media (max-width: 600px) {
  h2 {
    font-size: 32px;
  }

    .favorites a .text {
    display: none;
  }


  .image-results {
    gap: 12px;
    padding: 20px 12px;
  }

  .image-card {
    height: auto;
    width: 100%;
    aspect-ratio: 4 / 3;
  }
}
